*

!**/

# project files
!*.toml
!.gitignore
!LICENSE
!.hugo_build.lock
!package.json
!package-lock.json

# site data
!*.md
!*.html
!*.scss

# ignore intellij
.idea

# ignore
node_modules
public
resources/_gen