<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">{{ .Title }}</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link">{{ T "info" }}</a></li>
        <li class="nav-item"><a href="#" class="nav-link">{{ T "apply_here" }}</a></li>
        <li class="nav-item d-flex flex-column justify-content-center">
            {{ $siteLanguages := site.Languages}}
            {{ $pageLang := .Page.Lang}}
            {{- range .Page.AllTranslations }}
                {{ $translation := . }}
                {{- range sort $siteLanguages "Weight" "asc" }}
                    {{- if eq $translation.Lang .Lang }}
                        {{ if ne $pageLang .Lang}}
                            <a class="nav-link language-switch" href="{{ $translation.Permalink | relURL }}">{{ .Params.languageNameShort }}{{ .Params.languageFlag }}</a>
                        {{ end }}
                    {{- end }}
                {{- end }}
            {{- end }}
        </li>
    </ul>
</header>